In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[df > 0]

                   A         B         C         D
2022-01-01  0.575359  0.167427  1.113710  0.838068
2022-01-02       NaN       NaN  0.959366       NaN
2022-01-03       NaN  0.642673       NaN       NaN
2022-01-04  0.501254  0.000090       NaN       NaN
2022-01-05  1.109670       NaN  1.103044  0.715679
2022-01-06  1.195796  0.206847  0.977171  0.372658