In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df['20220102':'20220104']

                   A         B         C         D
2022-01-02 -1.836067  1.710010 -1.451637 -0.275917
2022-01-03  1.112381 -2.591422  1.022940 -0.158205
2022-01-04 -0.249282  0.393658  0.243546 -0.702462