In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.011921 -0.406644 -1.430568  0.096646
1 -0.511569  0.252801  0.410504 -0.206851
2  0.638808  0.371154 -0.918398 -0.716939
3  0.316849  1.480418 -0.147626 -0.179360
4  0.783976 -0.307385  1.095649 -0.415330
5 -0.735430 -1.118690 -0.228957 -1.021926