In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df.tail(3)

                   A         B         C         D
2022-01-04 -0.475870 -0.233419 -0.452349  0.998826
2022-01-05 -0.592622 -0.697516 -1.373074 -0.552142
2022-01-06  0.725405 -1.089111 -1.007564 -0.455459