In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df
# df.T

                   A         B         C         D
2022-01-01 -0.321068 -1.366908 -0.495723 -0.559683
2022-01-02 -0.327665 -1.136100  1.974124 -1.188997
2022-01-03 -0.741530  1.277620 -1.366597  1.106893
2022-01-04  0.607251  1.039484  0.297377  0.085515
2022-01-05  1.376134  1.005348 -0.222313  0.080192
2022-01-06  2.464051  1.300299  0.425103  0.231138