In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2022-01-01 -0.414918  1.939894 -1.060063 -1.867376    one
2022-01-02 -0.175174 -0.565443 -0.652826  0.186449    one
2022-01-03 -0.250056  1.883270  0.789738 -0.279019    two
2022-01-04  1.848749 -0.036067 -1.140386 -0.174304  three
2022-01-05  0.841022 -1.467258 -0.250443  2.140469   four
2022-01-06 -0.873817  0.576231 -0.916544  0.286641  three