In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df.sort_values(by='B')

                   A         B         C         D
2022-01-06 -0.847807 -0.394648  1.771933  0.768985
2022-01-01 -1.642978 -0.308754 -1.366633  0.752398
2022-01-04 -0.349376 -0.267834  1.456269  0.661607
2022-01-03  1.109888  0.574417 -0.546117 -0.937269
2022-01-02  2.442494  0.856484 -0.293298 -0.188591
2022-01-05 -0.999802  1.020476 -1.111931 -0.392360