In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[df.A > 0]

                   A         B         C         D
2022-01-01  0.754632 -1.538706  0.084626 -1.017162
2022-01-02  0.093747 -0.653370  1.049337  0.755695
2022-01-05  0.771756  0.162903  0.147028 -0.973120
2022-01-06  0.320052 -0.221194 -0.214489  0.927897