In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': np.random.rand(4)})
df.groupby('A').sum()

            B
A
bar  0.928293
foo  0.827273