In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[0:3]

                   A         B         C         D
2022-01-01 -0.753753 -0.928488  1.841032 -0.068119
2022-01-02 -0.241512 -1.421719 -1.512094 -0.945186
2022-01-03  0.429146 -0.580932 -0.217448  2.154099