In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6))
df

                   0         1         2         3
2022-01-01  0.228546 -1.695483 -1.781720 -0.096832
2022-01-02  0.641450  0.577344  0.295881 -0.384871
2022-01-03 -2.008940  1.449822  1.057848 -0.381783
2022-01-04  0.359180 -0.864344 -0.044362 -0.429830
2022-01-05  0.158431  1.405244  0.363224 -1.681246
2022-01-06 -1.599815 -0.303428 -0.706226  0.683003