In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2[df2['E'].isin(['one', 'four'])]

                   A         B         C         D     E
2022-01-01  0.031558  0.495558 -0.010143 -0.486232   one
2022-01-02 -0.298065  0.485036 -0.938674 -0.870531   one
2022-01-05 -0.052545 -0.339935  0.031876 -1.229721  four